.game-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
    display: none;
}
/* Make scrollbar thinner and more modern */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #666;
}